<div class="container">
	<div class="well col-xs-offset-3 text-center ">
		<h3>A2B Login Page</h3>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-login">
				<div class="panel-heading">

					<div class="row">
						<div class="col-xs-4">
							<span class="active" id="login-form-link">Login</span>
						</div>
						<div class="col-xs-4">
							<span class="active" id="register-form-link">Register</span>
						</div>	
					</div> <!-- end of row -->	 

				</div> <!-- end panel heading -->
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
<!-- ==================================================================================================== -->						
							<!-- <form id="login-form" name="myForm" action="#" method="post" style="display:block;">
								<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="" ng-model="userLogin.email">
								</div>
								<div class="form-group">
										<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" value="" ng-model="userLogin.password">
								</div>
								
								<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In" ng-click="login(userLogin)">
											</div>
										</div>
								</div>
								<div class="form-group">
										<div class="row">
											<div class="col-lg-12">
												<div class="text-center">
													<a href="#" tabindex="5" class="forgot-password">Forgot Password?</a>
												</div>
											</div>
										</div>
								</div>
							</form>  --><!-- end of login form -->

							<form id="login-form" name="myForm" style="display:block;" novalidate>
								<div class="form-group">
										<input type="email" class="form-control" placeholder="Username" value="" ng-model="userLogin.email"required >
									<div style="color:red" ng-show="login-form.email.$dirty && login-form.email.$invalid">Email is not Valid
									</div>

								</div>
								<div class="form-group">
										<input type="password" class="form-control" placeholder="Password" value="" ng-model="userLogin.password" required>
								</div>
								
								<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<button class="form-control btn btn-login" value="Log In" ng-click="login(userLogin)" ng-disabled="login-form.email.$pristine && login-form.email.$invalid || login-form.password.$pristine && login-form.password.$invalid">login</button>
											</div>
										</div>
								</div>
							</form>

<!-- 						</============================================================================================= -->
							<!-- <form id="register-form" action="#" method="post" role="form" style="display: none;">
									<div class="form-group">
										<input type="text" name="fullname" id="fullname" tabindex="1" class="form-control" placeholder="FullName" ng-model="user.full_name">
									</div>
									<div class="form-group">
										<input type="text" name="phoneNo" id="phoneno" tabindex="3" class="form-control" placeholder="Contact No." ng-model="user.phone_num">
									</div>
									<div class="form-group">
										<input type="email" name="email" id="email" tabindex="4" class="form-control" placeholder="Email Address" ng-model="user.email">
									</div>
									<div class="form-group">
										<input type="password" name="password1" id="password1" tabindex="5" class="form-control" placeholder="Password">
									</div>
									<div class="form-group">
										<input type="password" name="confirm-password" id="confirmpassword" tabindex="6" class="form-control" placeholder="Confirm Password" ng-model="user.password">
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="register-submit" id="register-submit" tabindex="7" class="form-control btn btn-register" value="Register Now" ng-click="registerUser(user)">
											</div>
										</div>
									</div>
								</form> --> <!-- end of sign-up form -->

								<form id="register-form" style="display: none;">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="FullName" ng-model="user.full_name">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Contact No." ng-model="user.phone_num">
										</div>
										<div class="form-group">
											<input type="email" class="form-control" placeholder="Email Address" ng-model="user.email">
										</div>
										<div class="form-group">
											<input type="password" class="form-control" placeholder="Password" ng-model="user.password">
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-sm-6 col-sm-offset-3">
													<button class="form-control btn btn-register" value="Register Now" ng-click="registerUser(user)">register</button>
												</div>
											</div>
										</div>
								</form>


<!-- ==================================================================================================== -->
						</div>
					</div>
				</div> <!-- end of panel body -->
			</div>
		</div>
	</div>	<!-- end of row -->	

	





</div> <!-- end of container -->